.Home .container {
  background-image: url("https://images.unsplash.com/photo-1592483648228-b35146a4330c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=850&q=80");
  background-size: cover;
  min-height: 600px;
  background-position: center;
}

.Home .HomeContent {
  text-align: left;
  font-size: xxx-large;
  margin-right: 50px;
  padding-top: 200px;
}

.HomeEnterButton {
  width: 200px;
  padding: 15px;
  margin-left: 40px;
  box-shadow: inset 0px 1px 0px 0px #f7c5c0;
  background: linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
  background-color: #c10601;
  border-radius: 6px;
  border: 1px solid #d83526;
  display: inline-block;
  cursor: pointer;
  color: #333;
  font-family: "DM Sans", sans-serif;
  font-size: 15px;
  font-weight: 500;
  padding: 6px 24px;
  text-decoration: none;
}
.HomeEnterButton:hover {
  background: linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
  background-color: #f84339;
}
.HomeEnterButton:active {
  position: relative;
  top: 1px;
}
